# Supabase - Proyecto: KaledAcademy
NEXT_PUBLIC_SUPABASE_URL=https://pufjmrsvlwfwccxngfpr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1ZmptcnN2bHdmd2NjeG5nZnByIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUyOTcyNjEsImV4cCI6MjA3MDg3MzI2MX0.OkG0JZsnam1kllPrPeJ6YKRb5IVl4KNf33rkhLFpOzI

# Database (usar la URL de Supabase)
# Necesitas obtener la contraseña de la base de datos desde el dashboard de Supabase
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.pufjmrsvlwfwccxngfpr.supabase.co:5432/postgres"

# NextAuth
NEXTAUTH_SECRET=tu_nextauth_secret_aqui
NEXTAUTH_URL=http://localhost:3000

# Supabase MCP (ya configurado en Cursor)
SUPABASE_ACCESS_TOKEN=sbp_d046805ea46574e8e879e115336239eed6ff128a
